# PostgreSQL connection
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notifications_db
DB_USER=postgres
DB_PASSWORD=admin

# Server
PORT=3000

# Affordmed Evaluation Token
AFFORDMED_TOKEN=your_bearer_token_here
